extends ../layout

block content
  +booksauthorsnav('books')
  main.allbooks
    h2 Books (#{length})
    div.options
      form.search(method='GET' action='/books')
        input(type='text' name='title')
        button Search
      ul.filter
        li Filter
        each genre in genres 
          li 
            a(href='/books?genre=' + genre)= genre 
    each book in books 
      div.book
        img(src=book.image)
        div.details 
          h3
            a(href='/books/' + book.id)= book.title 
          p
            a(href='/books?genre=' + book.genre)= book.genre
          ul.authors 
            each item, i in book.authors 
              li
                a(href='/authors/' + item.id)= item.name 
              if i !== book.authors.length - 1 
                li &
          p= book.description 
        div.editdelete
          a(href='/books/' + book.id + '/edit')
            button Edit 
          a(href='/books/' + book.id + '/delete')
            button Delete
    a.addBook(href='/books/new')
      button.addBook Create New Book
    
        
        
        
        
        
        
        
