extends ../layout

block content
  +booksauthorsnav('authors')
  main.allbooks
    h2 Authors (#{length})
    div.options
      form.search(method='GET' action='/authors')
        input(type='text' name='name')
        button Search
    each author in authors 
      div.book
        img.portrait(src=author.image)
        div.details.authordetails 
          h3
            a(href='/authors/' + author.id)= author.name 
          p= author.bio 
          p 
            em Books
          ul.authorbooks
            each book in author.books 
              li
                a(href='/books/' + book.id)= book.title
        if authlevel > 3
          div.editdelete
            a(href='/authors/' + author.id + '/edit')
              button Edit 
            a(href='/authors/' + author.id + '/delete')
              button Delete
    if authlevel > 3
      a.addBook(href='/authors/new')
        button.addBook Add New Author
            
        
