extends ../layout

block content
  +booksauthorsnav('authors')
  main.allbooks
    h2 Total Authors (#{length})
    h5 Displaying 5 Authors
    - var i = 1
    ul.view
      while i <= pages 
        li
          a(href='/authors?page=' + i)= i++
    each author in authors 
      div.book
        img.portrait(src=author.image)
        div.details.authordetails 
          h3
            a(href='/authors/' + author.id)= author.name 
          p= author.bio 
          p 
            em Books
          ul.authorbooks
            each book in author.books 
              li
                a(href='/books/' + book.id)= book.title
        
